<html>
    <head>
        <title>The Data Mine</title>
        <script type="text/javascript">
            function page_refresh() {
                setTimeout(function(){ window.open('/game/{{ player.name }}/', '_self') }, 1000);
            }
        </script>
    </head>
    <body onload="page_refresh()">
    <div align="center"><h1>Another Day in the Data Mine</h1></div>
    <h2>Welcome {{ player.name }}</h2>
    <div border="1">
        <ul>
        {% for currency in player.visibleWallet %}
            <li>You have {{ player.wallet[currency] }} {{ game.currencies[currency].name }}</li>
        {% endfor %}
        </ul>
    </div>
    <h3>Production</h3>
    {% for action in player.visibleActions %}
        <button onclick="window.open('/game/{{ player.name }}/act/{{ game.actions[action].id }}/', '_self')" title="{{ game.actions[action].description }}" {{ player.enabledActions[action] }}>{{ game.actions[action].label }}</button><br />
    {% endfor %}
    {% if player.counters['feature_automation'] == 1 %}
    <h3>Automation</h3>
    {% for automation in player.visibleAutomations %}
        <button onclick="window.open('/game/{{ player.name }}/automate/{{ game.automations[automation].id }}/', '_self')" title="{{ game.automations[automation].description }}" {{ player.enabledAutomations[automation] }}>{{ game.automations[automation].label}}</button><br />
    {% endfor %}
    {% endif %}
    {% if player.counters['feature_research'] == 1 %}
    <h3>Research</h3>
    {% endif %}
    {% if game.debug %}
    <h3>Debug - Counters</h3>
        <ul>
        {% for counter in player.counters %}
            <li>{{ counter }} - {{ player.counters[counter] }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </body>
</html>