<html>
    <head>
        <title>The Data Mine</title>
    </head>
    <body>
    <div align="center"><h1>Another Day in the Data Mine</h1></div>
    <h2>Welcome {{ player.name }}</h2>
    <div border="1">
        <ul>
        {% for currency in player.visibleWallet %}
            <li>You have {{ player.wallet[currency] }} {{ game.currencies[currency].name }}</li>
        {% endfor %}
        </ul>
    </div>
    <h3>Production</h3>
    {% for action in player.visibleActions %}
        <button onclick="window.open('/game/{{ player.name }}/act/{{ game.actions[action].id }}/', '_self')" title="{{ game.actions[action].description }}" {{ player.enabledActions[action] }}>{{ game.actions[action].label }}</button><br />
    {% endfor %}
    <h3>Automation</h3>
    {% for automation in game.automations %}
        <button onclick="window.open('/game/{{ player.name }}/automate/{{ game.automations[automation].id }}/', '_self')" title="{{ game.automations[automation].description }}">{{ game.automations[automation].label}}</button><br />
    {% endfor %}
    {% if game.debug %}
    <div>Debug - Counters</div>
        <ul>
        {% for counter in player.counters %}
            <li>{{ counter }} - {{ player.counters[counter] }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </body>
</html>